<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger!</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    {{{ body }}}
    <script src="./assets/js/script.js"></script>
</body>

<!-- Footer starts -->
<footer class="bottom footer">
    <!-- Copyright starts-->
    <div class="footer-copyright text-center py-3">
        &copy; 2020 Copyright:
        <a href="https://github.com/nitinmuk/" target="_blank">Nitin Mukesh</a>
    </div>
    <!-- Copyright ends-->
</footer>

</html>